{{!< base}}

<body class="errorBody">
	{{> header}}
	<div class="wrapper">
		<main class="page">
			<blockquote>
				<p>&nbsp;</p>
				<p> <span id="isErrorNumber"> <strong>Ошибка 404:</strong> </span> <span
						id="isErrorDescription">&nbsp;&nbsp;&nbsp;Файл или Web-страница отсутствует!</span> </p>
			</blockquote>
		</main>
	</div>
</body>