{{!< base}}
				<div class="auth">
					<div class="auth__caption">Вход</div>
					<form action="" class="auth__form">
						<div class="auth__formheader">
							<div class="auth__form-row">
								<input type="text" name="login" class="input" placeholder="Логин">
								<span class="input-error hidden">Неверный логин</span>
							</div>
							<input type="password" name="password" class="input" placeholder="Пароль">
						</div>
						<div class="auth__formfooter">
							<button type="submit" class="">Войти</button>
							<a href="register.hbs">Нет профиля?</a>
						</div>
					</form>
				</div>