---
man_3_webp: '../asserts/img/man_3.webp'
man_3_png: '../asserts/img/man_3.png'
---

{{!< base}}
			<div class="account">
				<div class="account__wrapper">
					<div class="account__header header-account">
						<div class="header-account__photo">
							<picture>
								<source srcset={{man_3_webp}}><img src={{man_3_png}}>
							</picture>
						</div>
					</div>
					<div class="account__content">
						<div class="account__content-wrapper content-account">
							<form class="content-account__form" action="">
								<div class="content-account__line">
									<div class="content-account__cell">Старый пароль</div>
									<input class="content-account__cell content-account__cell--changepassword" type="password"
										name="oldPassword">
								</div>
								<div class="content-account__line">
									<div class="content-account__cell">Новый пароль</div>
									<input class="content-account__cell content-account__cell--changepassword" type="password"
										name="newPassword">
								</div>
								<div class="content-account__line">
									<div class="content-account__cell">Повторите новый пароль</div>
									<input id="renewPass" class="content-account__cell content-account__cell--changepassword"
										type="password">
								</div>
								<button type="submit"
									class="content-account__submit content-account__submit--changepassword"><span>Сохранить</span></button>
							</form>
						</div>
					</div>
				</div>
			</div>
	<script type="text/javascript">
		const newPass = document.getElementsByName("newPassword");
		const renewPass = document.getElementById("renewPass");
		const savePassword = document.querySelector(".content-account__submit.content-account__submit--changepassword");
		savePassword.addEventListener("click", (e) => {
			e.preventDefault();
			if (newPass[0].value === renewPass.value) {
				document.location.href = ("account.html");
			}
		});

	</script>
