<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>{{> title}}</title>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="../styles/main.css">
		<link rel="shortcut icon" href="../asserts/img/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		<div class="wrapper">
			{{> header}}
			<main class="page">
				{{{body}}}
			</main>
		</div>
	</body>
</html>











{{!--<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>
    {{> title}}
  </title>
</head>
<body>
  {{> header}}
  {{{body}}}
  {{> footer}}
</body>
</html>--}}
